/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/


/* Table of Contents
==================================================
	#Base 960 Grid    
	#Tablet (Portrait)
	#Mobile (Portrait) 
	#Mobile (Landscape)
	#Clearing */
	
	

/* #Base 960 Grid 
================================================== */

	.container-twelve { 
		position: relative; 
		max-width: 960px; 
		margin: 0 auto; 
		padding: 0; 
		display: block; 
		}
	.column, .columns { 
		float: left; 
		display: inline; 
		margin-left: 1.0417%; 
		margin-right: 1.0417%; 
		}
	.row { 
		margin-bottom: 20px; 
		}
	
	/* Nested Column Classes */
	.column.alpha, .columns.alpha 				{ margin-left: 0; }
	.column.omega, .columns.omega 				{ margin-right: 0; }
	
	.container-twelve .one-third.column			{ width: 31.2500%; }
	.container-twelve .two-thirds.column		{ width: 64.5833%; }
	
	/*****************************
		12 Column
	*****************************/
	
	/* Base Grid */
	.container-twelve .one.column 						{ width: 6.2500%;  }
	.container-twelve .two.columns 						{ width: 14.5833%; }
	.container-twelve .three.columns 					{ width: 22.9167%; }
	.container-twelve .four.columns 					{ width: 31.2500%; }
	.container-twelve .five.columns 					{ width: 39.5833%; }
	.container-twelve .six.columns 						{ width: 47.9167%; }
	.container-twelve .seven.columns 					{ width: 56.2500%; }	
	.container-twelve .eight.columns 					{ width: 64.5833%; }
	.container-twelve .nine.columns 					{ width: 72.9167%; }
	.container-twelve .ten.columns 						{ width: 81.2500%; }	
	.container-twelve .eleven.columns 					{ width: 89.5833%; }	
	.container-twelve .twelve.columns 					{ width: 97.9167%; }
	
	/* Offsets */	
	.container-twelve .offset-by-one 					{ margin-left: 8.3333%;  }
	.container-twelve .offset-by-two 					{ margin-left: 16.6667%; }
	.container-twelve .offset-by-three 					{ margin-left: 25.0000%; }
	.container-twelve .offset-by-four 					{ margin-left: 33.3333%; }
	.container-twelve .offset-by-five 					{ margin-left: 41.6667%; }
	.container-twelve .offset-by-six 					{ margin-left: 50.0000%; }
	.container-twelve .offset-by-seven 					{ margin-left: 58.3333%; }
	.container-twelve .offset-by-eight 					{ margin-left: 66.6667%; }
	.container-twelve .offset-by-nine 					{ margin-left: 75.0000%; }
	.container-twelve .offset-by-ten 					{ margin-left: 83.3333%; }
	.container-twelve .offset-by-eleven 				{ margin-left: 91.6667%; }

	

	
	
	
/* #Tablet (Portrait)
================================================== */	

	/* Note: Design for a width of 768px */

	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}
	
	
/*	#Mobile (Portrait) 
================================================== */
	
	/* Note: Design for a width of 320px */
	
    @media only screen and (max-width: 767px) {
        .container-twelve { width: 97.396%; margin: 0 auto; padding: 0; }
    	.container-twelve .columns,
        .container-twelve .column { float: left; display: inline; margin-left: 1.302%; margin-right: 1.302%; }

        .container-twelve .one.column,
        .container-twelve .one.columns,
        .container-twelve .two.columns,
        .container-twelve .three.columns,
        .container-twelve .four.columns,
        .container-twelve .five.columns,
        .container-twelve .six.columns,
        .container-twelve .seven.columns,
        .container-twelve .eight.columns,
        .container-twelve .nine.columns,
        .container-twelve .ten.columns,
        .container-twelve .eleven.columns,
        .container-twelve .twelve.columns,
        .container-twelve .thirteen.columns,
        .container-twelve .fourteen.columns,
        .container-twelve .fifteen.columns,
        .container-twelve .sixteen.columns,
        .container-twelve .one-third.column,
        .container-twelve .two-thirds.column  { width: 100%; }		
				
	}	 
	
	
/* #Mobile (Landscape)
================================================== */

	/* Note: Design for a width of 480px */
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}
	 
	
/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
	
	/* Use clearfix class on parent to clear nested columns, 
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	.row:after,
	.clearfix:after {
	  clear: both; }
	.row, 
	.clearfix {
	  zoom: 1; }
	  
	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
	  clear: both;
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}
	
	
	